*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #0c6269, #49e8f7);
}
.me-2{
    border-radius:10px;
    width: 300px;
}
.buscador{
    margin:0px 50px 0px 0px;
}
.btn-outline-succes{
    border :3px solid black;
}
.btn-outline-succes:hover{
    background-color:#99ccff;
}
.iconopatas{
    width:40px;
    height:40px;
    border:none;
}
b{
    font-size: 30px;
}
.bi::before{
    background-size: 5rem 5rem;
}
.bi-person-fill{
    font-size: 30px;
}
.bi-list{
    font-size: 30px;
}
.nav-link{
    margin:0px 0px 0px 30px;
}
.dropdown-menu{
    margin-left:10px;
}
.d-flex{
    margin-right: 30px;
    width: 500px;
}
.xxxx:hover{
    background-color:black;
    color:#ffffff;
    
}
   
.xxxx{
    border-color: black;
    color:black;
    background-color:#ffffff;
}
/*formulario*/
.container{
    width: 60%;
    background-color: white;
    padding: 20px;
    position:absolute;
    left: 50%;
    top:40%;
    margin-top: 5%;
    transform:translate(-50%,-50%);
}
.form-label{
    margin-left: 50px;
}
.form-control{
    width: 100%;
    max-width:800px;
}
.radio{
    margin-left: 50px;
}
/*.separador{
    width:400px;
    margin-left: 50px;
}
#imagen{
    width: 400px !important;;
}
input[type="submit"]{
    width: 200px;
    height: 50px;
    border: 1px solid;
    background: linear-gradient(to right, #0c6269, #49e8f7);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    margin-top: 30px;
    margin-left: 50px;
}

input[type="submit"]:hover{
    color: #0c6269;
    transition: .5s;
}*/
@media only screen and (max-width:600px){
    .container{
        width: 90%;
        position: absolute;
        left: 50%;
        top: 40%;
        padding-bottom: 40px;
        scroll-padding-top: 200px;
    }    
}