body{
    background: linear-gradient(to right,#9441e7, #4e92ff, #1b8892);
    min-height: 100%;
}
.container{
    margin-top:70px;
}
.imagen{
    justify-content: center;
    /*margin-top: 10px;*/
}
img{
    height: 100%;
    max-height: 400px;
    width: 100%;
    max-width: 380px;
    margin-top: 5%;
    text-align: right;
}
.info{
    background-color: #ffffff;
    border-radius: 20px;
    height: 100%;
    max-height: 250px;
    width:100%;
    max-width: 350px;
    /*margin-top: 70px;*/
    padding-top: 3px;
    margin-top: 16%;
}
#tercerabandana{
    border-radius: 20px;
    border: 3px solid black;
}
.me-2{
    border-radius:10px;
    width: 300px;
}
.buscador{
    margin:0px 50px 0px 0px;
}
.btn-outline-succes{
    border :3px solid black;
}
.btn-outline-succes:hover{
    background-color:#99ccff;
}
.iconopatas{
    width:40px;
    height:40px;
    border:none;
}
b{
    font-size: 30px;
}
.bi::before{
    background-size: 5rem 5rem;
}
.bi-person-fill{
    font-size: 30px;
}
.bi-list{
    font-size: 30px;
}
.nav-link{
    margin:0px 0px 0px 30px;
}
.dropdown-menu{
    margin-left:10px;
}
.d-flex{
    margin-right: 30px;
    width: 500px;
}
.xxxx:hover{
    background-color:black;
    color:#ffffff;
    
}
   
.xxxx{
    border-color: black;
    color:black;
    background-color:#ffffff;
}
@media screen and (max-width: 376px){
    .info{
        font-size: 20px;
    }
    .col-md-6{
        text-align: center;
        align-items: center;
    }
    .col-md-6{
        text-align: center;
        align-items: center;
    }
    body{
        max-width: 376px;
    }

}