.fondo{
    background: linear-gradient(to right, #0c6269, #49e8f7);
}
.me-2{
    border:3px solid black;
    border-radius:10px;
    width: 300px;
}
.buscador{
    margin:0px 50px 0px 0px;
}
.btn-outline-succes{
    border :3px solid black;
}
.btn-outline-succes:hover{
    background-color:#99ccff;
}
.iconopatas{
    width:40px;
    height:40px;
    border:none;
}
.bi::before{
    background-size: 5rem 5rem;
}
.container-box{
    display: flex;
    width: 650px;
    height :120px;
    background-color: white; 
    padding:10px; 
    border: 3px solid black;
    color:black;
    border-radius: 10px;
    margin: 250px 30px 40px 200px ;
    justify-content: center;
}
.container-petshop{
    display: flex;
    width: 300px;
    height :80px; 
    padding:10px;
    margin: 50px 30px 40px 350px ;
    justify-content: center;
}
.container-petshop{
    border: 5px solid black;
    border-radius: 10px;
    color:black;
    background-color: white;
}
col{
    display:flex;
    height:800px;
}
.insta{
    height:60px;
    width: 60px;
}
.perrogato{
    display: flex;
    border: 3px solid black;
    justify-content: center;
    height:300px;
    width: 400px;
}
.container-gp{
    margin:200px 0px 0px 100px;
}