*{
    margin:0;
    padding:0;
}
.fondo{
    background: linear-gradient(to right,#9441e7, #4e92ff, #1b8892);
}
.me-2{
    border-radius:10px;
    width: 300px;
}
.buscador{
    margin:0px 50px 0px 0px;
}
.btn-outline-succes{
    border :3px solid black;
}
.btn-outline-succes:hover{
    background-color:#99ccff;
}
.iconopatas{
    width:40px;
    height:40px;
    border:none;
}
b{
    font-size: 30px;
}
.bi::before{
    background-size: 5rem 5rem;
}
.bi-person-fill{
    font-size: 30px;
}
.bi-list{
    font-size: 30px;
}
.nav-link{
    margin:0px 0px 0px 30px;
}
.dropdown-menu{
    margin-left:10px;
}
.d-flex{
    margin-right: 30px;
    width: 500px;
}
.xxxx:hover{
    background-color:black;
    color:#ffffff;
    
}
   
.xxxx{
    border-color: black;
    color:black;
    background-color:#ffffff;
}
.espaciado_inferior{
    margin-bottom: 5%;
}
#box{
    margin-top: 20%;
    width: 100%;
    max-width: 640px;
    height: 100%;
    max-height :130px;
    background-color: white; 
    padding:5px; 
    border: 3px solid black;
    color:black;
    border-radius: 10px;
    justify-content: center;
    color:black
}
#petshop{
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height :80px;
    padding:10px;
    justify-content: center;
    margin-block-start: auto;
}
#petshop{
    border: 5px solid black;
    border-radius: 10px;
    color:black;
    background-color: white;
}
col{
    display:flex;
    height:800px;
}
.insta{
    height:40px;
    width: 40px;
}
.imagen_responsive{
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 300px;
    border: 3px solid black;
    margin-top: 25%;
}
.container-gp{
    margin:200px 0px 0px 100px;
}
@media screen and (max-width: 376px){
    .col-md-7{
        text-align: center;
        width:376px;
    }
    .col-md-5{
        text-align:center;
    }
    .container{
        width:300px;
        margin-block-start: auto;
    }
}