body{
    background: linear-gradient(to right, #0c6269, #49e8f7);
}
.me-2{
    border:3px solid black;
    border-radius:10px;
    width: 300px;
}
.buscador{
    margin:0px 50px 0px 0px;
}
.btn-outline-succes{
    border :3px solid black;
}
.btn-outline-succes:hover{
    background-color:#99ccff;
}
.iconopatas{
    width:40px;
    height:40px;
    border:none;
}
b{
    font-size: 30px;
}
.bi::before{
    background-size: 5rem 5rem;
}
.bi-person-fill{
    font-size: 30px;
}
.bi-list{
    font-size: 30px;
}
.nav-link{
    margin:0px 0px 0px 30px;
}
.dropdown-menu{
    margin-left:10px;
}
.d-flex{
    margin-right: 30px;
    width: 500px;
}
.xxxx:hover{
    background-color:black;
    color:#ffffff;
    
}
   
.xxxx{
    border-color: black;
    color:black;
    background-color:#ffffff;
}
b{
    font-size: 30px;
}
.menu-busqueda{
    border:3px solid black;
    height:700px;
    width:350px;
    margin: 80px 0px 0px 40px;
    border-radius: 10px;
}
.titulo{
    margin-left: 40px;
}
.subtitulo{
    margin-left: 40px;
}
.resultados{
    border: 2px solid black;
}
.ordernar_por{
    border:2px solid black;
    margin-top: 20px;
}
/*
.bi::before{
    font-size: 5rem 5rem;
}
*/
.bi bi-arrow-down{
   font-size: 1em 1em;
}
.gato{
    margin: 20px 0px 0px 20px;
}
.perro{
    margin: 0px 0px 0px 20px;
}
p{
    margin:10px;
}

/*cajas*/

.collar-uno{
    border: 4px solid black;
    background-color: white;
    margin: 50px 10px 0px 0px;
    width:380px;
    height:200px;
}
.collar-uno h4{
    margin-top: 30px;
    margin-left: 22px;
}
.collar-uno h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#primercollar{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.collar-dos{
    border: 4px solid black;
    background-color: white;
    margin: 50px 10px 0px 0px;
    width:380px;
    height:200px;
}
.collar-dos h4{
    margin-top: 30px;
    margin-left: 22px;
}
.collar-dos h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#segundocollar{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.collar-tres{
    border: 4px solid black;
    background-color: white;
    margin: 50px 10px 0px 0px;
    width:380px;
    height:200px;
}
.collar-tres h4{
    margin-top: 30px;
    margin-left: 22px;
}
.collar-tres h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#tercercollar{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.collar-cuatro{
    border: 4px solid black;
    background-color: white;
    margin: 50px 10px 0px 0px;
    width:380px;
    height:200px;
}
.collar-cuatro h4{
    margin-top: 30px;
    margin-left: 22px;
}
.collar-cuatro h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#cuartocollar{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.collar-cinco{
    border: 4px solid black;
    background-color: white;
    margin: 50px 10px 0px 0px;
    width:380px;
    height:200px;
}
.collar-cinco h4{
    margin-top: 30px;
    margin-left: 22px;
}
.collar-cinco h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#quintocollar{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.collar-seis{
    border: 4px solid black;
    background-color: white;
    margin: 50px 10px 0px 0px;
    width:380px;
    height:200px;
}
.collar-seis h4{
    margin-top: 30px;
    margin-left: 22px;
}
.collar-seis h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#sextocollar{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.collar-siete{
    border: 4px solid black;
    background-color: white;
    margin: 50px 10px 0px 0px;
    width:380px;
    height:200px;
}
.collar-siete h4{
    margin-top: 30px;
    margin-left: 22px;
}
.collar-siete h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#septimocollar{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.collar-ocho{
    border: 4px solid black;
    background-color: white;
    margin: 50px 10px 0px 0px;
    width:380px;
    height:200px;
}
.collar-ocho h4{
    margin-top: 30px;
    margin-left: 22px;
}
.collar-ocho h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#octavocollar{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.collar-nueve{
    border: 4px solid black;
    background-color: white;
    margin: 50px 10px 0px 0px;
    width:380px;
    height:200px;
}
.collar-nueve h4{
    margin-top: 30px;
    margin-left: 22px;
}
.collar-nueve h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#novenocollar{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.collar-uno .collar-dos .collar-tres .collar-cuatro .collar-cinco .collar-seis .collar-siete .collar-ocho .collar-nueve{
    transition: all 0.1s;
}
.collar-uno:hover{
    transform: scale(1.2);
}
.collar-dos:hover{
    transform: scale(1.2);
}
.collar-tres:hover{
    transform: scale(1.2);
}
.collar-cuatro:hover{
    transform: scale(1.2);
}
.collar-cinco:hover{
    transform: scale(1.2);
}
.collar-seis:hover{
    transform: scale(1.2);
}
.collar-siete:hover{
    transform: scale(1.2);
}
.collar-ocho:hover{
    transform: scale(1.2);
}
.collar-nueve:hover{
    transform: scale(1.2);
}