:root{
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
}

body{
    background: linear-gradient(to right, #0c6269, #49e8f7);
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--dark)
}

.bg-dark {background-color: var(--dark) !important;}
.bg-dark-x{ background-color: var(--dark-x);}

.form-control, .btn{
    min-height: 3.125rem;
    line-height: initial;

}

.img-1{
    background-image: url("/proyecto_semestral/img/PerroLindo.jpg");
    background-size: cover;
    background-position: center;
}

.img-2{
    background-image:  url("/proyecto_semestral/img/GatoLindo.jpg");
    background-size: cover;
    background-position: center;
}