body{
    background-image: linear-gradient(to right,#669999 0%, #99ccff 100%);
    justify-content: space-around;
}
nav{
    background-color:rgb(118, 242, 238);
    margin: 0;
}

.flex-containerizq{
    display: flex;
    width: 600px;
    height :80px;
    background-color: white; 
    padding:10px; 
    border: 3px solid black;
    color:black;
    border-radius: 10px;
    margin: 50px 80px 30px 80px ;
    justify-content: center;
}
.flex-containerder{
    display: flex;
    width: 600px;
    height :80px;
    background-color: white; 
    padding: 10px;
    border:3px solid black;
    color:black;
    border-radius: 10px;
    margin: 50px 0px 0px 80px;
    justify-content: center;
}
.flex-containercollares{
    display:flex;
    width: 300px;
    height: 80px;
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    color:black;
    border-radius: 10px;
    margin: 20px 0px 20px 90px;
    justify-content: center;
    
}
.flex-containerbandanas{
    display:flex;
    width: 300px;
    height: 80px;
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    color:black;
    border-radius: 10px;
    margin: 20px 0px 20px 90px;
    justify-content: center;
    
}
.flex-containercorreas{
    width: 300px;
    height: 80px;
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    color:black;
    border-radius: 10px;
    margin: 20px 0px 20px 90px;
    justify-content: center;
    
}
h1{
    display:flex;
    justify-content: center;
}
img{
    border: 3px solid black;
}
.collarperro{
    margin: 20px 0px 0px 90px;
}
.collarperro img{
    transition: all 0.3s;
}
.collarperro img:hover{
    transform: scale(1.2);
}
.bandanaperro{
    margin: 20px 0px 0px 90px;
}
.correaperro{
    margin: 20px 0px 0px 90px;
}
.collargato{
    margin: 20px 0px 0px 90px;
}
.bandanagatos{
    margin: 20px 0px 0px 90px;
}
.correagatos{
    margin: 20px 0px 0px 90px;
}
.collarp{
    width: 300px;
    height:250px;
}
.bandanap{
    width: 300px;
    height: 250px;
}
.correap{
    width: 300px
}
.collarg{
    width: 300px;
    height:250px;
}
.bandanag{
    width: 300px;
    height:250px;
}
.correag{
    width: 300px;
    height:250px;
}
<!--navbar-->

.me-2{
    border:3px solid black;
    border-radius:10px;
    width: 300px;
}
.buscador{
    margin:0px 50px 0px 0px;
}
.btn-outline-succes{
    border :3px solid black;
}
.btn-outline-succes:hover{
    background-color:#99ccff;
}
.iconopatas{
    width:40px;
    height:40px;
    border:none;
}
b{
    font-size: 30px;
}
.bi::before{
    background-size: 5rem 5rem;
}