body{
    background-image: linear-gradient(to right,#669999 0%, #99ccff 100%);
    justify-content: space-around;
}
nav{
    background-color:rgb(118, 242, 238);
    margin: 0;
}

.flex-containerizq{
    display: flex;
    width: 600px;
    height :80px;
    background-color: white; 
    padding:10px; 
    border: 3px solid black;
    color:black;
    border-radius: 10px;
    margin: 50px 80px 30px 80px ;
    justify-content: center;
}
.flex-containerder{
    display: flex;
    width: 600px;
    height :80px;
    background-color: white; 
    padding: 10px;
    border:3px solid black;
    color:black;
    border-radius: 10px;
    margin: 50px 0px 0px 80px;
    justify-content: center;
}
.flex-containercollares{
    display:flex;
    width: 300px;
    height: 80px;
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    color:black;
    border-radius: 10px;
    margin: 20px 0px 20px 90px;
    justify-content: center;
    
}
.flex-containerbandanas{
    display:flex;
    width: 300px;
    height: 80px;
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    color:black;
    border-radius: 10px;
    margin: 20px 0px 20px 90px;
    justify-content: center;
    
}
.flex-containercorreas{
    width: 300px;
    height: 80px;
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    color:black;
    border-radius: 10px;
    margin: 20px 0px 20px 90px;
    justify-content: center;
    
}